---
import { Image } from 'astro:assets';

import ajawLogo from '@images/clients/ajaw.png';
import aldoHoyosLogo from '@images/clients/aldo-hoyos.png';
import amcLogo from '@images/clients/arias-medical-clinic.png';
import britaniaLogo from '@images/clients/britania.png';
import cimaAbogadosLogo from '@images/clients/cima-abogados.png';
import cimaRsLogo from '@images/clients/cima-rs.png';
import darkyDogsLogo from '@images/clients/darky-dogs.png';
import davidRomanLogo from '@images/clients/david-roman.png';
import discoveryMeridaLogo from '@images/clients/discovery-merida.png';
import drMarinLogo from '@images/clients/dr-marin.png';
import encinosLogo from '@images/clients/encinos.png';
import estoicoUrbanoLogo from '@images/clients/estoico-urbano.png';
import gimnastikaLogo from '@images/clients/gimnastika.png';
import haDepilacionLogo from '@images/clients/ha-depilacion.png';
import iexLogo from '@images/clients/iex.png';
import mujerPlena360Logo from '@images/clients/mujer-plena-360.png';
import plenitudFemenina365Logo from '@images/clients/plenitud-femenina-365.png';
import radicalRemedyLogo from '@images/clients/radical-remedy.png';
import sagesseLogo from '@images/clients/sagesse.png';
import sercoLogo from '@images/clients/serco.png';
import vanguardiaAcademicsLogo from '@images/clients/vanguardia-academics.png';
import vidasConPropositoLogo from '@images/clients/vidas-con-proposito.png';

const clientes = [
  {
    name: 'Arias Medical Clinic',
    image: amcLogo
  },
  {
    name: 'Aldo Hoyos Nutrición',
    image: aldoHoyosLogo
  },
  {
    name: 'Club Britania Ánimas Xalapa',
    image: britaniaLogo
  },
  {
    name: 'CIMA Abogados',
    image: cimaAbogadosLogo
  },
  {
    name: 'Ajaw',
    image: ajawLogo
  },
  {
    name: 'CIMA RS',
    image: cimaRsLogo
  },
  {
    name: 'Darky Dogs',
    image: darkyDogsLogo
  },
  {
    name: 'David Roman',
    image: davidRomanLogo
  },
  {
    name: 'Vidas con Propósito',
    image: vidasConPropositoLogo
  },
  {
    name: 'Discovery Merida',
    image: discoveryMeridaLogo
  },
  {
    name: 'Dr. Marín',
    image: drMarinLogo
  },
  {
    name: 'Encinos',
    image: encinosLogo
  },
  {
    name: 'Estoico Urbano',
    image: estoicoUrbanoLogo
  },
  {
    name: 'Gimnastika',
    image: gimnastikaLogo
  },
  {
    name: 'Ha Depilación',
    image: haDepilacionLogo
  },
  {
    name: 'IEX',
    image: iexLogo
  },
  {
    name: 'Mujer Plena 360',
    image: mujerPlena360Logo
  },
  {
    name: 'Plenitud Femenina',
    image: plenitudFemenina365Logo
  },
  {
    name: 'Radical Remedy',
    image: radicalRemedyLogo
  },
  {
    name: 'Sagesse',
    image: sagesseLogo
  },
  {
    name: 'Serco',
    image: sercoLogo
  },
  {
    name: 'Vanguardia Academics',
    image: vanguardiaAcademicsLogo
  }
];

---

<section class="bg-gradient-to-br from-brand-100 to-brand-200 py-8">
  <div class="container mx-auto px-4">
    <h2 class="text-5xl font-bold font-title text-brand-900 text-center mb-12 drop-shadow-md">Marcas que confían en nosotros</h2>
    
    <!-- Slider main container -->
    <div class="swiper brands-slider">
      <!-- Additional required wrapper -->
      <div class="swiper-wrapper">
        { 
          clientes.map((cliente) => (
            <div class="swiper-slide flex items-center justify-center p-5">
              <Image src={ cliente.image } alt={ cliente.name } class="mx-auto h-20 object-contain" />
            </div>
          ))
        }
      </div>
    </div>
  </div>
</section>

<script>
  import Swiper from 'swiper';
  import { Autoplay } from 'swiper/modules';
  import 'swiper/css';
  import 'swiper/css/navigation';

  // Initialize Swiper
  new Swiper('.brands-slider', {
    modules: [Autoplay],
    slidesPerView: 2,
    spaceBetween: 15,
    loop: true,
    autoplay: {
      delay: 0,
      disableOnInteraction: false,
    },
    breakpoints: {
      640: {
        slidesPerView: 3,
      },
      768: {
        slidesPerView: 4,
      },
      1024: {
        slidesPerView: 5,
      },
    },
    speed: 3000,
  });
</script>

<style>
  .swiper-wrapper {
    -webkit-transition-timing-function: linear;
    -o-transition-timing-function: linear;
    transition-timing-function: linear;
  }
</style>