---

---

<section id="contacto" class="py-16 bg-brand-500">
  <div class="container mx-auto px-4">
    <h2 class="text-5xl font-bold text-center mb-12 text-slate-50 font-title">Contáctanos</h2>
    <div class="grid grid-cols-1 md:grid-cols-2 gap-12">
      <div class="contact-info">
        <h3 class="text-xl font-semibold mb-4 text-slate-100">Información de Contacto</h3>
        <ul class="space-y-4">
          <li class="flex items-center">
            <i class="ri-phone-line text-brand-50 mr-3"></i>
            <a href="tel:+123456789" class="text-brand-50 hover:text-brand-50 transition-colors">+52 (228) 835 14 79</a>
          </li>
          <li class="flex items-center">
            <i class="ri-mail-line text-brand-50 mr-3"></i>
            <a href="mailto:info@tuempresa.com" class="text-brand-50 hover:text-brand-50 transition-colors">contacto@therealatlaspath.com</a>
          </li>
        </ul>
        <div class="mt-8">
          <h4 class="text-lg font-semibold mb-4 text-slate-100">Síguenos en redes sociales</h4>
          <div class="flex space-x-4">
            <a href="https://www.facebook.com/profile.php?id=61568824017958" target="_blank" rel="noopener noreferrer" class="text-brand-50 hover:text-brand-100 transition-colors">
              <i class="ri-facebook-fill"></i>
              <span class="sr-only">Facebook</span>
            </a>
            <a href="https://x.com/realatlaspath" target="_blank" rel="noopener noreferrer" class="text-brand-50 hover:text-brand-100 transition-colors">
              <i class="ri-twitter-x-fill"></i>
              <span class="sr-only">X</span>
            </a>
            <a href="https://www.instagram.com/atlas_path/" target="_blank" rel="noopener noreferrer" class="text-brand-50 hover:text-brand-100 transition-colors">
              <i class="ri-instagram-fill"></i>
              <span class="sr-only">Instagram</span>
            </a>
            <a href="https://www.linkedin.com/in/guillermo-mu%C3%B1oz-arcos-21b651342/" target="_blank" rel="noopener noreferrer" class="text-brand-50 hover:text-brand-100 transition-colors">
              <i class="ri-linkedin-fill"></i>
              <span class="sr-only">LinkedIn</span>
            </a>
          </div>
        </div>
      </div>
      <div class="contact-form">
        <h3 class="text-xl font-semibold mb-4 text-slate-100">Envíanos un mensaje</h3>
        <form id="contact-form" class="space-y-4" name="contact" netlify>
          <div>
            <label for="name" class="block text-sm font-medium text-brand-50 mb-1">Nombre</label>
            <input type="text" id="name" name="name" required class="w-full px-4 py-2 border border-slate-300 rounded-md focus:ring-brand-500 focus:border-brand-500" />
          </div>
          <div>
            <label for="email" class="block text-sm font-medium text-brand-50 mb-1">Correo electrónico</label>
            <input type="email" id="email" name="email" required class="w-full px-4 py-2 border border-slate-300 rounded-md focus:ring-brand-500 focus:border-brand-500" />
          </div>
          <div>
            <label for="message" class="block text-sm font-medium text-brand-50 mb-1">Mensaje</label>
            <textarea id="message" name="message" rows="4" required class="w-full px-4 py-2 border border-slate-300 rounded-md focus:ring-brand-500 focus:border-brand-500"></textarea>
          </div>
          <button type="submit" class="w-full bg-brand-600 text-white font-semibold py-2 px-4 rounded-md hover:bg-brand-700 transition-colors duration-300 focus:outline-none focus:ring-2 focus:ring-brand-500 focus:ring-offset-2">
            Enviar mensaje
          </button>
        </form>
      </div>
    </div>
  </div>
</section>
