---
import Button from "@/components/ui/Button.astro";

---
<section class="pt-32 pb-16">
  <div class="container mx-auto px-4">
    <div class="max-w-4xl mx-auto text-center mb-16">
      <h1 class="font-title  text-xl md:text-7xl font-black mb-6 leading-tight tracking-wider">
        Expertos en la digitalización de tu negocio
      </h1>
      <p class="font-body text-2xl text-gray-600 mb-8 max-w-2xl mx-auto">
        Somos una empresa xalapeña especializada en llevar tu negocio al ámbito digital.
      </p>
      <div class="flex gap-4 justify-center">
        <Button text="Agenda una llamada" />
        <Button text="Ver Portafolio" />
      </div>
    </div>
  </div>
</section>
