---
import ServiceCard from '@/components/ui/ServiceCard.astro';

import testImg from '@images/temp1.png';
import uiux from '@images/uiux-card.jpg';
import mobile from '@images/mobile-card.jpg';
import design from '@images/design-card.jpg';
import webdev from '@images/webdev-card.jpg';
import photography from '@images/photography-card.jpg';
import videoproduction from '@images/videoproduction-card.jpg';
import marketing from '@images/marketing-card.jpg';
import dataAnalysis from '@images/data-analysis-card.jpg';

const services = [
  {
    title: 'Diseño gráfico',
    description: 'Creamos diseños impactantes que comunican tu mensaje de manera efectiva.',
    icon: 'ri-palette-fill',
    link: '/servicios/diseno-grafico',
    image: design
  },
  {
    title: 'Animación digital',
    description: 'Damos vida a tus ideas con animaciones cautivadoras y dinámicas.',
    icon: 'ri-film-fill',
    link: '/servicios/animacion-digital',
    image: testImg
  },
  {
    title: 'Diseño UI/UX',
    description: 'Diseñamos interfaces intuitivas y experiencias de usuario excepcionales.',
    icon: 'ri-stack-fill',
    link: '/servicios/diseno-ui-ux',
    image: uiux
  },
  {
    title: 'Desarrollo de Software',
    description: 'Creamos soluciones de software personalizadas y escalables.',
    icon: 'ri-code-s-slash-line',
    link: '/servicios/desarrollo-software',
    image: webdev
  },
  {
    title: 'Desarrollo de aplicaciones móviles',
    description: 'Desarrollamos apps móviles innovadoras para iOS y Android.',
    icon: 'ri-smartphone-fill',
    link: '/servicios/apps-moviles',
    image: mobile
  },
  {
    title: 'Marketing digital',
    description: 'Impulsamos tu presencia online con estrategias de marketing efectivas.',
    icon: 'ri-megaphone-fill',
    link: '/servicios/marketing-digital',
    image: marketing
  },
  {
    title: 'Análisis de datos',
    description: 'Transformamos datos en insights accionables para tu negocio.',
    icon: 'ri-pie-chart-2-fill',
    link: '/servicios/analisis-datos',
    image: dataAnalysis
  },
  {
    title: 'Videoproducciones',
    description: 'Producimos videos de alta calidad que cuentan tu historia.',
    icon: 'ri-live-fill',
    link: '/servicios/videoproducciones',
    image: videoproduction
  },
  {
    title: 'Fotografía',
    description: 'Capturamos momentos e imágenes que resaltan tu marca.',
    icon: 'ri-camera-3-fill',
    link: '/servicios/fotografia',
    image: photography
  }
];

---

<section class="py-12">
  <div class="container mx-auto px-4">
      <h2 class="text-6xl font-bold text-center mb-8 font-title">Todo lo que tu empresa necesita, en un solo lugar</h2>
      <div class="grid grid-cols-1 md:grid-cols-2 lg:grid-cols-3 gap-6">
        {
          services.map((service) => (
            <ServiceCard {...service} />
          ))
        }
      </div>
  </div>
</section>
