---
import SuccessCase from '@/components/ui/SuccessCase.astro';
import amcSuccessTemp from '@images/success-temp-1.jpg';
import cimaRSSuccessTemp from '@images/success-temp-2.jpg';
import discoveryRSSuccessTemp from '@images/success-temp-3.jpg';

const successCases = [
  {
    title: 'Arias Medical Clinic',
    description: 'Descubre como Arias Medical Clinic, una clínica de tratamiento contra las várices incrementó sus ventas gracias a una estrategia de marketing digital bien hecha.',
    image: amcSuccessTemp,
    link: '/casos-de-exito/empresa-a'
  },
  {
    title: 'CIMA Bienes Raíces',
    description: 'CIMA Bienes Raíces presentaba fallos con un sitio web antiguo, desactualizado y con muchos bugs. ¿Quiéres conocer cómo desarrollamos su nueva aplicación web?',
    image: cimaRSSuccessTemp,
    link: '/casos-de-exito/startup-b'
  },
  {
    title: 'Discovery Mérida',
    description: 'Todo negocio hoy en día necesita presencia en internet. Discovery Mérida ahora está a la vanguardia y cuenta con su propio sitio web y campañas publicitarias en Google Ads y Facebook Ads.',
    image: discoveryRSSuccessTemp,
    link: '/casos-de-exito/marca-c'
  }
];
---
<section class="py-16">
  <div class="container mx-auto px-4">
    <h2 class="text-3xl font-bold text-center mb-12 text-gray-800">Casos de Éxito</h2>
    <div class="grid grid-cols-1 md:grid-cols-2 lg:grid-cols-3 gap-8">
      {
        successCases.map((successCase) => (
          <SuccessCase { ...successCase } />
        ))
      }
    </div>
  </div>
</section>
